SERVICE_ID=
DEFAULT_TOKEN_ENDPOINT=
USAGE_REPORT_ENDPOINT=
ACCOUNT_SERVICE_URL=


PLATFORM_INT_URL=
ACCOUNT_SERVICE_JWKS_ENDPOINT=
ACCOUNT_SERVICE_JWKS_CACHE_TTL= 
LICENSE_KEY=
LICENSE_SERVER_BASE_URL=
LICENSE_SERVER_JWKS_ENDPOINT=
LICENSE_SERVER_ACTIVATION_ENDPOINT=
